In [2]:
!pip install kaggle
!mkdir .kaggle
import json
token = {"username":"souravs17031999","key":"0afe4f5d5d2625f46d236e1dbf6e2c16"} # copy the API from kaggle.json downloaded from kaggle account
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!kaggle config set -n path -v{/content}
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.9.11)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
mkdir: cannot create directory ‘.kaggle’: File exists
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [4]:
!kaggle competitions download -c orion19-datathon

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading user_reviews_train.csv.zip to {/content}/competitions/orion19-datathon
  0% 0.00/1.64M [00:00<?, ?B/s]
100% 1.64M/1.64M [00:00<00:00, 109MB/s]
Downloading test.csv to {/content}/competitions/orion19-datathon
  0% 0.00/44.4k [00:00<?, ?B/s]
100% 44.4k/44.4k [00:00<00:00, 39.4MB/s]
Downloading sample_submission.csv to {/content}/competitions/orion19-datathon
  0% 0.00/3.13k [00:00<?, ?B/s]
100% 3.13k/3.13k [00:00<00:00, 2.65MB/s]
Downloading google_play_store_train.csv.zip to {/content}/competitions/orion19-datathon
  0% 0.00/327k [00:00<?, ?B/s]
100% 327k/327k [00:00<00:00, 107MB/s]

In [5]:
!unzip ./{/content}/competitions/orion19-datathon/google_play_store_train.csv.zip

Archive:  ./{/content}/competitions/orion19-datathon/google_play_store_train.csv.zip
  inflating: google_play_store_train.csv

In [6]:
!unzip ./{/content}/competitions/orion19-datathon/user_reviews_train.csv.zip

Archive:  ./{/content}/competitions/orion19-datathon/user_reviews_train.csv.zip
  inflating: user_reviews_train.csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, Imputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [0]:
df_train = pd.read_csv('/content/google_play_store_train.csv')
df_test = pd.read_csv('/content/{/content}/competitions/orion19-datathon/test.csv')

In [125]:
df_train.shape

(10474, 15)

In [126]:
df_test.shape

(367, 14)

In [127]:
df_train.head()

   App_ID  ...   Unnamed: 14
0      10  ...           NaN
1      15  ...  4.0.3 and up
2      20  ...           NaN
3      25  ...           NaN
4      30  ...    4.4 and up

[5 rows x 15 columns]

In [128]:
print(pd.isnull(df_train).sum())
print()
print(pd.isnull(df_test).sum())

App_ID               0
App                  0
Category             0
Rating            1434
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          7
Android Ver          3
Unnamed: 14       9995
dtype: int64

App_ID              0
App                 0
Category            0
Reviews             0
Size                0
Installs            0
Type                0
Price               0
Content Rating      0
Genres              0
Last Updated        0
Current Ver         1
Android Ver         0
Unnamed: 13       347
dtype: int64

In [129]:
imputer  = Imputer("NaN", 'mean', 0)
imputer  = imputer.fit(df_train.iloc[:, [3]])
df_train.iloc[:, [3]] = imputer.transform(df_train.iloc[:, [3]])

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [130]:
print(pd.isnull(df_train).sum())
print()
print(pd.isnull(df_test).sum())

App_ID               0
App                  0
Category             0
Rating               0
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          7
Android Ver          3
Unnamed: 14       9995
dtype: int64

App_ID              0
App                 0
Category            0
Reviews             0
Size                0
Installs            0
Type                0
Price               0
Content Rating      0
Genres              0
Last Updated        0
Current Ver         1
Android Ver         0
Unnamed: 13       347
dtype: int64

In [131]:
print(df_train.shape)
print(df_test.shape)

(10474, 15)
(367, 14)

In [132]:
df_train['Type'].value_counts()

Free    9705
Paid     767
0          1
Name: Type, dtype: int64

In [0]:
df_train = df_train.fillna({'Type':'Free'})

In [134]:
df_train['Content Rating'].value_counts()

Everyone           8392
Teen               1189
Mature 17+          482
Everyone 10+        405
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [0]:
df_train = df_train.fillna({'Content Rating' : 'Everyone'})

In [136]:
print(pd.isnull(df_train).sum())
print()
print(pd.isnull(df_test).sum())

App_ID               0
App                  0
Category             0
Rating               0
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          7
Android Ver          3
Unnamed: 14       9995
dtype: int64

App_ID              0
App                 0
Category            0
Reviews             0
Size                0
Installs            0
Type                0
Price               0
Content Rating      0
Genres              0
Last Updated        0
Current Ver         1
Android Ver         0
Unnamed: 13       347
dtype: int64

In [0]:
ids = df_test['App_ID']

In [138]:
print(df_train.shape)
print(df_test.shape)

(10474, 15)
(367, 14)

In [139]:
df_train.dtypes

App_ID              int64
App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
Unnamed: 14        object
dtype: object

In [140]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10474 entries, 0 to 10473
Data columns (total 15 columns):
App_ID            10474 non-null int64
App               10474 non-null object
Category          10474 non-null object
Rating            10474 non-null float64
Reviews           10474 non-null object
Size              10474 non-null object
Installs          10474 non-null object
Type              10474 non-null object
Price             10474 non-null object
Content Rating    10474 non-null object
Genres            10474 non-null object
Last Updated      10474 non-null object
Current Ver       10467 non-null object
Android Ver       10471 non-null object
Unnamed: 14       479 non-null object
dtypes: float64(1), int64(1), object(13)
memory usage: 1.2+ MB

In [0]:
dummy_fields = ['Category', 'Type', 'Content Rating', 'Genres']
for each in dummy_fields:
    dummies = pd.get_dummies(df_train[each], drop_first=False)
    df_train = pd.concat([df_train, dummies], axis=1)

In [0]:
fields_to_drop = ['Category', 'Type', 'Content Rating', 'Genres', 'App_ID', 'App', 'Last Updated', 'Current Ver', 'Android Ver', 'Unnamed: 14']
df_train = df_train.drop(fields_to_drop, axis=1)

In [143]:
df_train.shape

(10474, 97)

In [0]:
dummy_fields_test = ['Category', 'Type', 'Content Rating', 'Genres']
for each in dummy_fields_test:
    dummies_test = pd.get_dummies(df_test[each], drop_first=False)
    df_test = pd.concat([df_test, dummies_test], axis=1)

In [0]:
fields_to_drop = ['Category', 'Type', 'Content Rating', 'Genres', 'App_ID', 'App', 'Last Updated', 'Current Ver', 'Android Ver', 'Unnamed: 13']
df_test = df_test.drop(fields_to_drop, axis=1)

In [146]:
df_test.shape

(367, 77)

In [0]:
df_train.Size = [x.strip('M') for x in df_train.Size]

In [0]:
df_train.Size = [x.strip('k') for x in df_train.Size]

In [0]:
df_train.Installs = [x.strip('+') for x in df_train.Installs]

In [0]:
df_train.Price = [x.strip('$') for x in df_train.Price]

In [0]:
df_train.Installs = [x.replace(',', "") for x in df_train.Installs]

In [0]:
df_test.Size = [x.strip('M') for x in df_test.Size]
df_test.Size = [x.strip('k') for x in df_test.Size]
df_test.Installs = [x.strip('+') for x in df_test.Installs]
df_test.Price = [x.strip('$') for x in df_test.Price]
df_test.Installs = [x.replace(',', "") for x in df_test.Installs]

In [0]:
l = []
for i in df_train.columns:
  if i not in df_test.columns:
    l.append(i)

In [153]:
l.remove('Rating')
l

['1.9',
 'COMICS',
 'EDUCATION',
 'ENTERTAINMENT',
 'EVENTS',
 'LIBRARIES_AND_DEMO',
 'PARENTING',
 '0',
 'Adults only 18+',
 'Unrated',
 'Casino',
 'Comics',
 'Events',
 'February 11, 2018',
 'Libraries & Demo',
 'Music & Audio',
 'Parenting',
 'Trivia',
 'Word']

In [0]:
fields_to_drop_new = l
df_train = df_train.drop(fields_to_drop_new, axis=1)

In [155]:
df_train.shape

(10474, 78)

In [156]:
df_test.shape

(367, 77)

In [0]:
df_train = df_train[df_train.Reviews != '3.0M']

In [0]:
df_train = df_train[df_train.Size != 'Varies with device']

In [0]:
df_train = df_train.astype({"Reviews":'int64', "Size":'int64'})

In [0]:
df_train = df_train.astype({"Installs":'int64', "Price":'int64'})

In [193]:
df_test = df_test[df_test.Reviews != '3.0M']
df_test = df_test[df_test.Size != 'Varies with device']

/usr/local/lib/python3.6/dist-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [0]:
df_test = df_test.astype({"Reviews":'int64', "Size":'int64'})

In [0]:
df_test = df_test.astype({"Installs":'int64', "Price":'int64'})

In [194]:
df_train.head()

   Rating  Reviews  Size  ...  Travel & Local  Video Players & Editors  Weather
0     4.1      159    19  ...               0                        0        0
1     3.9      967    14  ...               0                        0        0
2     4.7    87510     8  ...               0                        0        0
3     4.5   215644    25  ...               0                        0        0
4     4.3      967     2  ...               0                        0        0

[5 rows x 78 columns]

In [0]:
X = df_train.iloc[:, 1:]

In [183]:
X.head()

   Reviews  Size  Installs  ...  Travel & Local  Video Players & Editors  Weather
0      159    19     10000  ...               0                        0        0
1      967    14    500000  ...               0                        0        0
2    87510     8   5000000  ...               0                        0        0
3   215644    25  50000000  ...               0                        0        0
4      967     2    100000  ...               0                        0        0

[5 rows x 77 columns]

In [0]:
y = df_train['Rating']

In [207]:
reg = LinearRegression()
reg.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [208]:
X.shape

(8810, 77)

In [209]:
y.shape

(8810,)

In [0]:
y_test = df_test.iloc[:, :]

In [211]:
y_test.shape

(335, 77)

In [0]:
y_pred = reg.predict(y_test)

In [216]:
ids.shape

(367,)

In [236]:
y_pred.shape

(337,)

In [0]:
for i in range(30):
  y_pred = np.append(y_pred, [4.172579314489428])

In [0]:
output = pd.DataFrame({ 'App_ID' : ids, 'Rating': y_pred})

In [0]:
output.to_csv('output.csv', index=False)